---

import '../../styles/about.css'
import '../../styles/global.css'
import Info from "./Info.astro";
import Presentation from "./Presentation.astro";

---

<div id="about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <Info />
            </div>
            <div class="col-md-7">
                <Presentation />
            </div>
        </div>
    </div>
</div>

