---

import '../../styles/social-networks.css'
import type { isocialNetwork } from '../../interfaces/socialNetwork';
import SocialNetwork from "./SocialNetwork.astro";
import linkedinSVG from "../../../public/svg/linkedin.svg";
import whatsappSVG from "../../../public/svg/whatsapp.svg";
import githubSVG from "../../../public/svg/github.svg";


const socialNetworks : isocialNetwork[] = [
    {
        name: "linkedin",
        icon: linkedinSVG,
        url: "https://linkedin.com/in/jochoa-gaviria/"
    },
    {
        name: "github",
        icon: githubSVG,
        url: "https://github.com/jochoa-gaviria"
    },
    {
        name: "whatsapp",
        icon: whatsappSVG,
        url: "https://wa.me/573117437028"
    }
]

---

<p>
    <ul class="social-icons">
        {
            socialNetworks.map(({name, icon, url}):isocialNetwork => (
                <SocialNetwork
                    name={name}
                    icon={icon}
                    url={url}
                />
            ))
        }
    </ul>
</p>
