---

import '../../styles/social-networks.css'
import SocialNetwork from "./SocialNetwork.astro";
import linkedinSVG from "../../svg/linkedin.svg";
import whatsappSVG from "../../svg/whatsapp.svg";
import githubSVG from "../../svg/github.svg";

interface socialNetwork {
    name: string,
    icon: string,
    url: string
}

const socialNetworks = [
    {
        name: "linkedin",
        icon: linkedinSVG,
        url: "https://linkedin.com/in/jochoa-gaviria/"
    },
    {
        name: "github",
        icon: githubSVG,
        url: "https://github.com/jochoa-gaviria"
    },
    {
        name: "whatsapp",
        icon: whatsappSVG,
        url: "https://wa.me/573117437028"
    }
]

---

<p>
    <ul class="social-icons">
        {
            socialNetworks.map(({name, icon, url}):socialNetwork => (
                <SocialNetwork
                    name={name}
                    icon={icon}
                    url={url}
                />
            ))
        }
    </ul>
</p>
