---
import '../../styles/social-network.css'

export interface Props {
    name: string;
    icon: any;
    url: string;
}

const { name, icon, url } = Astro.props;
---

<li>
    <a href={url} target="_blank"
        ><i class="{incon}"
            ><img src={icon} alt={name} /></i
        ></a
    >
</li>
