.info li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
}

.info li:first-child {
    padding-top: 0;
}

.info li .first-block {
    width: 40%;
    display: inline-block;
    color: #000;
    font-weight: bold;
}

.info li .second-block {
    width: 60%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .info li .first-block {
        width: 30%;
        margin-bottom: 0px !important;
    }
    .info li .second-block {
        width: 50%;
        display: flex;
        margin-bottom: 0px !important;
    }
}