.progress-wrap {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.progress-wrap h3 {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.progress-wrap h3 .name-left {
    float: left;
}

.progress-wrap h3 .value-right {
    float: right;
}

.progress {
    width: 100%;
    float: left;
    height: 5px;
    box-shadow: none;
}

.progress-bar {
    background-color: #2F3C3F;
    height: 5px;
    display: block;
    box-shadow: none;
}

.progress-bar.progress-bar-1 {
    background-color: #176B87 !important;
  }
  .progress-bar.progress-bar-2 {
    background-color: #c0392b !important;
  }
  .progress-bar.progress-bar-3 {
    background-color: #d35400 !important;
  }
  .progress-bar.progress-bar-4 {
    background-color: #8e44ad !important;
  }
  .progress-bar.progress-bar-5 {
    background-color: #27ae60 !important;
  }