#skills {
    padding: 7em 0;
    clear: both;
}

@media screen and (max-width: 768px){
    #skills {
        padding: 3em 0;
    }
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}