---
import "../../styles/chart-skill-item.css";
---

<div class="col-md-3 col-sm-6 col-xs-12 text-center">
    <div class="chart" data-percent="95">
        <span><strong>HTML5</strong>95%</span>
    </div>
</div>
