---
import ResumeItem from "./ResumeItem.astro";
import EducationSVG from "../../svg/education.svg"
---

<section>
    <li class="timeline-heading text-center animate-box">
        <div>
            <h3>Education</h3>
        </div>
    </li>
    <ResumeItem
        title="Software Engineer"
        institutionName="ITM"
        startDate="2020"
        finishDate="2023"
        description="Ing...."
        icon={EducationSVG}
        inverted={false}
    />
    <ResumeItem
        title="Software Engineer"
        institutionName="Platzi"
        startDate="2020"
        finishDate="2023"
        description="Ing...."
        icon={EducationSVG}
        inverted={true}
    />

    <!-- <li class="timeline-inverted animate-box">
        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h3 class="timeline-title">Masters Degree</h3>
                <span class="company">University Name - 2007 - 2009</span>
            </div>
            <div class="timeline-body">
                <p>
                    Far far away, behind the word mountains, they live in
                    Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.
                </p>
            </div>
        </div>
    </li>
    <li class="animate-box timeline-unverted">
        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h3 class="timeline-title">Bachelors Degree</h3>
                <span class="company">University Name - 2002 - 2006</span>
            </div>
            <div class="timeline-body">
                <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                </p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted animate-box">
        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h3 class="timeline-title">Diploma Course</h3>
                <span class="company">College Name - 1999 - 2001</span>
            </div>
            <div class="timeline-body">
                <p>
                    Far far away, behind the word mountains, they live in
                    Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.
                </p>
            </div>
        </div>
    </li>
    <li class="animate-box timeline-unverted">
        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h3 class="timeline-title">Graduation</h3>
                <span class="company">College Name - 1994 - 1998</span>
            </div>
            <div class="timeline-body">
                <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                </p>
            </div>
        </div>
    </li> -->
</section>
