---
import "../../styles/resume.css";
import Work from "./Work.astro";
import Education from "./Education.astro";
---

<div id="resume" class="bg-color">
    <div class="container">
        <header class="row animate-box">
            <div class="col-md-12 col-md-offset-2 text-center heading">
                <h2>My Resume</h2>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <Work />
                    <br />
                    <Education />
                </ul>
            </div>
        </div>
    </div>
</div>
