---

import '../../styles/socialNetworks.css'
import SocialNetwork from "./SocialNetwork.astro";
import linkedinSVG from "../../public/svg/linkedin.svg";
import whatsappSVG from "../../public/svg/whatsapp.svg";
import githubSVG from "../../public/svg/github.svg";

---

<p>
    <ul class="social-icons">
        <SocialNetwork
            name="linkedin"
            icon={linkedinSVG}
            url="https://linkedin.com/in/jochoa-gaviria/"
        />
        <SocialNetwork
            name="whatsapp"
            icon={whatsappSVG}
            url="https://wa.me/573117437028"
        />
        <SocialNetwork
            name="github"
            icon={githubSVG}
            url="https://github.com/jochoa-gaviria"
        />
    </ul>
</p>
