---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro"
---

<Layout title="Juan's portfolio">
    <main>        
        <Header
            name="Juan David Ochoa"
            occupation="Full Stack Developer / Sofware Engineer"
        />
    </main>

</Layout>